/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

 @font-face {
 	font-family: "rounded-mgenplus-2cp-light";
 	src: asset_url('rounded-mgenplus-2cp-light') format("truetype");
 	font-weight: normal;
 	font-style: normal;
 }

 .container {
 	margin: auto;
 	padding: 10px;
 }

 .nav-nav-field {
 	font-family: "rounded-mgenplus-2cp-light";
 	text-align: center;
 	text-transform: uppercase;
 	font-weight: 500;
 }

 .nav-nav-field * {
 	box-sizing: border-box;
 }

 .nav-nav-field li {
 	display: inline-block;
 	list-style: outside none none;
 	margin: 0 1.5em;
 	padding: 0;
 }

 .nav-nav-field a {
 	padding: 0.5em 0;
 	color: black;
 	position: relative;
 	letter-spacing: 1px;
 	text-decoration: none;
 }

 .nav-nav-field a:before,
 .nav-nav-field a:after {
 	position: absolute;
 	-webkit-transition: all 0.35s ease;
 	transition: all 0.35s ease;
 }

 .nav-nav-field a:before {
 	bottom: 0;
 	display: block;
 	height: 3px;
 	width: 0%;
 	content: "";
 	background-color: #752100;
 }

 .nav-nav-field a:after {
 	left: 0;
 	top: 0;
 	padding: 0.5em 0;
 	position: absolute;
 	content: attr(date-hover);
 	color: #fff;
 	white-space: nowrap;
 	max-width: 0%;
 	overflow: hidden;
 }

 .nav-nav-field a:hover:before {
 	opacity: 1;
 	width: 100%;
 }

 .nav-nav-field a:hover:after{
 	max-width: 100%;
 }

 .sub-title {
 	font-family: "rounded-mgenplus-2cp-light";
 }

 .actions {
 	margin: 0;
 	padding-left: 40px;
 }

 .img {
 	width: 800px;
 	height: 300px;
 	background-size: cover;
 	background-position: center;
 }

 footer{
 	width:100%;
 	background-color: #752100;
 }

 .footer-text {
 	color: white;
 	font-family: "rounded-mgenplus-2cp-light";
 }

 footerWrap {
 	width: 960px;
 	margin: auto;
 	padding: 10px;
 }

 p, h4 {
 	font-family: "rounded-mgenplus-2cp-regular";
 }